ul.col-md-12{
    padding: 0;
}
ul.col-md-12 li{
    border-radius: 4px;
    padding:0;
    text-align: center;
}
.nav-tabs li a{
    /*border: none;*/
    border:1px solid #eee;
}
.nav-tabs li a:hover{
    border:1px solid #eee;

    background-color: #eee;

}
.nav-tabs li.active a{
    border:1px solid #eee !important;


}
div.tab-content{
    padding:0;
}
td a , ul li a{
    cursor: pointer;
}
.select{
    padding-left: 8px;
}
.page{
    margin: 10px 0;
    text-align: center;
}
.page .pagination{
    margin: 0;
    padding: 0;
}
.page .pagination >li >a:hover{
    color: #fff;
    background-color: #428bca;
}
.search{
    background: url("../images/search.png") no-repeat right;
    background-size: 25px;
    padding-right: 28px;
    display: inline;
    float: right;
    width: inherit !important;
}
h3{
    margin-top: 3em;
    text-align: center;
    color: #652B91;
    font-family: serif;
}
.form-horizontal .col-md-6{
    padding: 0px;

}
.imageCheck{
    padding: 10px;
    text-align: center;
    color: #652B91;
}
.images{
    width: 30px;
    height: 22px;
    border-radius: 2px;
    margin: 0 7px;
}
.img-responsive{
    margin: 0 auto;
}
input[type=file] {
    border:none !important;
    padding: 4px 12px;

}
.img{
    display: block;
    width: 5em;
}
input[type=file]::-webkit-file-upload-button {
    border: none;
    border-radius: 2px;
    padding: 4px 12px;
    -webkit-appearance: button;
    background:#652B91 !important;
    color:#fff;
}


@media only screen and (max-width:600px){
    .search{
        width:165px !important;
    }
    .nav-tabs>li {
        width: 100%;
        float: none !important;
    }
}