ul.col-md-12{
    padding: 0;
}
ul.col-md-12 li{
    border-radius: 4px;
    padding:0;
    text-align: center;
}
.nav-tabs li a{
    /*border: none;*/
    border:1px solid #eee;
}
.nav-tabs li a:hover{
    border:1px solid #eee;

    background-color: #eee;

}
.nav-tabs li.active a{
    border:1px solid #eee !important;


}
div.tab-content{
    padding:0;
}
td a , ul li a{
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .nav-tabs>li {
        width: 100%;
        float: none !important;
    }
}