
    <div class="col-md-8 col-md-offset-2 card">

        <ul class="nav nav-tabs col-md-12" role="tablist">
            <li role="presentation" class="active col-md-6 col-sm-6 col-xs-6"><a ng-click="insertform()" aria-controls="home" role="tab" data-toggle="tab">Insert Events</a></li>
            <li role="presentation" class="col-md-6 col-xs-6 col-sm-6"><a ng-click="form()" aria-controls="profile" role="tab" data-toggle="tab">Review Events</a></li>

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" ng-hide="tabOne">



                <form  class="form-horizontal" name="eventsform">
                    <input type="text" placeholder="Event Title" ng-model="data.name"  class="form-control" required>
                    <input type="text" placeholder="Event Type" ng-model="data.type" class="form-control" required>
                    <input type="text" placeholder="Event Description" ng-model="data.description" class="form-control" required>
                    <button type="button" class="btn btn-primary" ng-disabled="eventsform.$invalid"  ng-click="allData(node)">Submit</button>

                </form>

            </div>
            <div role="tabpanel" class="tab-pane active table-responsive" ng-hide="tabTwo">
                <table class="table table-striped" ng-show="getdata.length">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Event Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="data in getdata">
                        <td>{{$index+1}}</td>
                        <td>{{data.value.name}}</td>
                        <td>{{data.value.type}}</td>
                        <td>{{data.value.description}}</td>
                        <td><a><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a ng-click="delete(node)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>
