<!DOCTYPE html>
<html ng-app="form">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SSUET - Dashboard</title>
<link rel="shortcut icon" type="images/png" href="images/icon.png" />


	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link href="bower_components/ng-dialog/css/ngDialog-theme-default.css" rel="stylesheet">
	<link href="bower_components/ng-dialog/css/ngDialog.min.css" rel="stylesheet">
	<link href="bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
	<link href="css/mystyle.css" rel="stylesheet">

<!--Icons-->

<!--[if lt IE 9]>
<![endif]-->

</head>

<body>
	<nav ng-hide="state" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="student_record"><span>SSUET</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{user}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a ng-click="logout()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div ng-hide="state" id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<ul class="nav menu">
			<li class="active"><a ui-sref="student_record"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li><a ui-sref="student_record"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Student Record</a></li>
			<li><a ui-sref="library"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>Library Record</a></li>
			<li><a ui-sref="events"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>Events</a></li>
			<li><a ui-sref="job"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>Job</a></li>
			<li role="presentation" class="divider"></li>
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-lg-10 col-lg-offset-2 main" ng-class="main">
		<div ng-hide="state" class="row">
			<ol class="breadcrumb">
				<li><a ui-sref="student_record"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">{{current_page}}</li>
			</ol>
		</div><!--/.row-->
		
		<!--<div ng-hide="state" class="row">-->
			<!--<div class="col-lg-12">-->
				<!--<h1 class="page-header">{{current_page}}</h1>-->
			<!--</div>-->
		<!--</div>&lt;!&ndash;/.row&ndash;&gt;-->
		

		<div class="row">
			<div class="col-lg-12">
				<div ng-class="panel">
					<div  ng-hide="state"  class="panel-heading">Overview <input ng-model="search" placeholder="Search" autofocus type="text" class="search form-control"></div>
					<div ng-class="class">

					<ui-view></ui-view>

					</div>
				</div>
			</div>
		</div><!--/.row-->


	</div>	<!--/.main-->

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script  src="app/module.js"></script>
	<script  src="controller/formController.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
	<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
	<script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src='js/firebase.js'></script>
	<script src="js/firebase_app.js"></script>
	<script src="js/firebaseDatabase.js"></script>
	<script src="js/firebase-auth.js"></script>
	<script src="bower_components/firebase/firebase-storage.js"></script>
	<script src="js/firebaseinitiliaz.js">




	</script>

	<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
	<script  src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/lumino.glyphs.js"></script>


</body>

</html>
