

<div class="col-md-8 col-md-offset-2 card">

    <ul class="nav nav-tabs col-md-12" role="tablist">
        <li role="presentation" class="active col-md-6 col-sm-6 col-xs-6"><a ng-click="insertform()"  aria-controls="home" role="tab" data-toggle="tab">Insert Job</a></li>
        <li role="presentation" class="col-md-6 col-xs-6 col-sm-6"><a ng-click="form()" aria-controls="profile" role="tab" data-toggle="tab">Review Job Data</a></li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" ng-hide="tabOne">



            <form name="jobform">

            <!--<input type="file" placeholder="Choose an image" ng-model="data.image"  class="form-control" required>-->
            <input type="text" placeholder="Job Title" ng-model="data.name"  class="form-control" required>
            <input type="text" placeholder="Job Type" ng-model="data.type" class="form-control" required>
            <input type="text" placeholder="Company Name" ng-model="data.company_name" class="form-control" required>
            <textarea placeholder="Job Description" rows="5" ng-model="data.description" class="form-control" required></textarea>
            <button type="button" class="btn btn-primary" ng-disabled="jobform.$invalid"  ng-click="allData(node)">Submit</button>
            </form>

        </div>
        <div role="tabpanel" class="tab-pane active table-responsive"  ng-hide="tabTwo">
            <table class="table table-striped" ng-show="getdata.length">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Job Title</th>
                    <th>Job Type</th>
                    <th>Company Name</th>
                    <th>Job Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                </thead>
                <tbody>
                <tr dir-paginate="data in getdata | itemsPerPage: 10">
                    <td>{{$index+1}}</td>
                    <td>{{data.value.name}}</td>
                    <td>{{data.value.type}}</td>
                    <td>{{data.value.company_name}}</td>
                    <td>{{data.value.description}}</td>
                    <td><a><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a ng-click="delete(node, data.key)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

                </tbody>

            </table>
            <div class="page">
                <dir-pagination-controls
                        max-size="9"
                        direction-links="true"
                        boundry-links="true">

                </dir-pagination-controls>
            </div>

        </div>

    </div>

</div>
