
<div class="col-md-8 col-md-offset-2 card">

    <ul class="nav nav-tabs col-md-12" role="tablist">
        <li role="presentation" class="active col-md-6 col-sm-6 col-xs-6"><a ng-click="insertform()" aria-controls="home" role="tab" data-toggle="tab">Insert Book Record</a></li>
        <li role="presentation" class="col-md-6 col-xs-6 col-sm-6"><a ng-click="form()" aria-controls="profile" role="tab" data-toggle="tab">Review Book Record</a></li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" ng-hide="tabOne">



            <form class="form-horizontal" name="libraryform">
                <div class="col-md-6">
            <input  type="file" accept="image/*" ngf-select ng-model="data.image" class="form-control" required>
                </div>
                <div class="col-md-3 imageCheck" ng-show="data.image"><img class="images image-responsive" ng-show="libraryform.file.$valid" ngf-thumbnail="data.image" >Image uploaded</div>
                <div class="col-md-3">
                   <button ng-click="imagePopup(data.image)" ng-disabled="!data.image" class="form-control btn btn-primary"> <span class="glyphicon glyphicon-zoom-in"></span> View full image</button>
                </div>

                <input type="text" placeholder="Book Title" ng-model="data.title"  class="form-control" required>
            <input type="text" placeholder="Book Name" ng-model="data.name" class="form-control" required>
            <input type="text" placeholder="Author Name" ng-model="data.author" class="form-control" required>
            <button type="button" ng-hide="insert" class="btn btn-primary" ng-disabled="libraryform.$invalid" ng-click="save(data.image)">Submit</button>
            <button type="button" ng-show="update" class="btn btn-primary" ng-disabled="libraryform.$invalid" ng-click="updateFileData(data.image, key)">Update</button>
            <img class="loader" ng-src ="{{loadingImage}}" ng-hide="active">

            </form>

        </div>
        <div role="tabpanel" class="tab-pane active table-responsive"  ng-hide="tabTwo">
            <table class="table table-striped" ng-show="getdata.length">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Book Title</th>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Book Cover</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                </thead>
                <tbody>
                <tr dir-paginate="data in getdata | itemsPerPage: 10">
                    <td>{{$index+1}}</td>
                    <td>{{data.value.title}}</td>
                    <td>{{data.value.name}}</td>
                    <td>{{data.value.author}}</td>
                    <td><img class="images image-responsive" ng-src="{{data.value.image}}"/> </td>
                    <td><a ng-click="edit(data)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a ng-click="deletePopup(node, data.key)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

                </tbody>

            </table>
            <h3 ng-show="!(getdata | filter : search).length">No matching records found</h3>
            <div class="page">
                <dir-pagination-controls
                        max-size="9"
                        direction-links="true"
                        boundry-links="true">

                </dir-pagination-controls>
            </div>
        </div>
        <toaster-container toaster-options="{'close-button': true,'animation-class': 'toast-top-center'}"></toaster-container>

    </div>

</div>
