
<div class="col-md-8 col-md-offset-2 card">

    <ul class="nav nav-tabs col-md-12" role="tablist">
        <li role="presentation" class="active col-md-6 col-sm-6 col-xs-6"><a ng-click="insertform()" aria-controls="home" role="tab" data-toggle="tab">Insert Book Record</a></li>
        <li role="presentation" class="col-md-6 col-xs-6 col-sm-6"><a ng-click="form()" aria-controls="profile" role="tab" data-toggle="tab">Review Book Record</a></li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" ng-hide="tabOne">



            <form name="libraryform">

            <!--<input type="file" placeholder="Choose an image" ng-model="data.image"  class="form-control" required>-->
            <input type="text" placeholder="Book Title" ng-model="data.title"  class="form-control" required>
            <input type="text" placeholder="Book Name" ng-model="data.name" class="form-control" required>
            <input type="text" placeholder="Author Name" ng-model="data.author" class="form-control" required>
            <button type="button" class="btn btn-primary" ng-disabled="libraryform.$invalid"  ng-click="allData(node)">Submit</button>
            </form>

        </div>
        <div role="tabpanel" class="tab-pane active table-responsive"  ng-hide="tabTwo">
            <table class="table table-striped" ng-show="getdata.length">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Book Title</th>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="data in getdata">
                    <td>{{$index+1}}</td>
                    <td>{{data.value.title}}</td>
                    <td>{{data.value.name}}</td>
                    <td>{{data.value.author}}</td>
                    <td><a><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a ng-click="delete(node, data.key)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>
